<table class="table-striped" width="100%" cellpadding="10">
  <tr>
    <td><b>User</b></td>
    <td><b>Submissions</b></td>
    <td><b>Admin?</b></td>
  
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.email, "/users/#{user.email}" %></td>
  <td><%= Submission.where(:user_id => user.id).all.length %></td>
  <td>
    <% unless user.is_admin? %>
    <%= form_for :user, :url => url_for(:controller => 'home', :action => 'upgrade') do |f| %>
    <%= f.hidden_field :email, :value => user.email %>
    <button type="submit" class="btn btn-primary">Make admin</button>
    <% end %>
    <% else %>
    <% if not user == current_user and not current_user.is_admin? %>
    <%= form_for :user, :url => url_for(:controller => 'home', :action => 'downgrade') do |f| %>
    <%=f.hidden_field :email, :value => user.email %>
    <button type="submit" class="btn btn-danger">Revoke admin</button>
    <% end %>
    <% else %>
    <p> Can't revoke your own rights! </p>
    <% end %>
    <% end %>
  </td>
</tr>
<% end %>
</table>
