<h2><%= @submission.blurb %></h2>

<p>
  <b>Project:</b>
  <%= @submission.project %>
</p>

<p>
  <b>Project link:</b>
  <a href="<%= @submission.project_link %>"><%= @submission.project_link %></a>
</p>

<p>
  <b>Contribution link:</b>
  <a href="<%= @submission.contribution_link %>"><%= @submission.contribution_link %></a>
</p>

<p>
  <b>Description:</b>
</p>
<pre>
  <%= @submission.description %>
</pre>

<br />

<%= link_to 'Back', "/users/#{@user.email}", :class => "btn" %>
