<h2><%= @submission.blurb %></h2>

<p>
  <b>Project:</b>
  <%= @submission.project %>
</p>

<p>
  <b>Project link:</b>
  <a href="<%= @submission.project_link %>"><%= @submission.project_link %></a>
</p>

<p>
  <b>Contribution link:</b>
  <a href="<%= @submission.contribution_link %>"><%= @submission.contribution_link %></a>
</p>

<p>
  <b>Created at:</b> <%= @submission.created_at.localtime.strftime("%d %b %Y %I:%M %p") %>
</p>

<p>
  <b>Updated at:</b> <%= @submission.updated_at.localtime.strftime("%d %b %Y %I:%M %p") %>
</p>

<p>
  <b>Description:</b>
</p>
<pre>
  <%= @submission.description %>
</pre>

<br />

<% if @submission.active %>
<%= link_to 'Edit', edit_submission_path(@submission), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', submissions_path, :class => "btn" %>
