<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scholarship Portal</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="http://opensourcescholars.org/css/oss.css" rel="stylesheet" media="screen">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="#top"></div>
    <div class="navbar">
      <div class="navbar-inner navbar-fixed-top">
        <span class="pull-left"><a class="brand" href="/">Scholarship Portal</a></span>

          <% if not user_signed_in? -%>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Register", '/users/sign_up' %></li>
	    <li class="divider-vertical"></li>
	    <li><a href="http://opensourcescholars.org/">OpenSourceScholars.org</a></li>
	    <li class="divider-vertical"></li>
	  </ul>
          <% elsif user_signed_in? -%>
          <ul class="nav">
            <li class="divider-vertical"></li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon-user"></i> <%= current_user.email %>
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><%= link_to "Edit user", edit_user_registration_path %></li>
		<li class="divider"></li>
		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	      </ul>
	    </li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Submissions", "/submissions" %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "New Submission", "/submissions/new" %></li>
            <li class="divider-vertical"></li>
	    <li><a href="http://opensourcescholars.org/">OpenSourceScholars.org</a></li>
 	    <li class="divider-vertical"></li>
	  </ul>
          <% end -%>
	  <ul class="nav pull-right">
	    <li><a href="/admin"><i class="icon-wrench"></i> Admin</a></li>
	  </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <!-- ############### LEFT NAVIGATION ############-->
        <div class="span3">
          &nbsp;
        </div>

        <!-- ############### MAIN BODY ############-->
        <div class="span7">
          <br /><br />
	  <% if notice %>
	  <div class="alert alert-info"><%= notice %></div>
	  <% elsif flash[:notice] %>
	  <%= content_tag(:div, flash[:notice], :class => "alert alert-info") %>
	  <% elsif flash[:error] %>
	  <%= content_tag(:div, flash[:error], :class => "alert alert-error") %>
	  <% elsif flash[:alert] %>
	  <%= content_tag(:div, flash[:alert], :class => "alert alert-block") %>
	  <% end %>
          <%= yield %>
        </div>

      </div>
    </div>

    <br />

    <!-- Footer ================================================== -->
    <div class="footer">
      <div class="container">
        <p>
	  Open Source Scholars Submission Portal designed and built
	  by <a href="http://twitter.com/akbutcher"
	  target="_blank">@akbutcher</a>
	  using <a href="http://rubyonrails.org/">Ruby on Rails</a>
	  and the <a href="http://twitter.github.com/bootstrap/"
	  target="_blank">Bootstrap</a> framework
	</p>

	<p>
	  Font Awesome glyphs by <a href="http://fortawesome.github.com/Font-Awesome">Dave Gandy</a>.
	</p>

	<p>
	  Found an issue with the website? File an issue
	  on <a href="https://github.com/OpenSourceScholars/"
	  target="_blank"><i class="icon-github-alt"></i> GitHub</a>
	  and let us know!
	</p>

        <hr />

        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514e4d6059c369dc"></script>
        <!-- AddThis Button END -->
      </div>
    </div>
  </body>
</html>
