<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <% if resource.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(resource.errors.count, "error") %> prohibited this submission from being saved:</h3>

      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><b>Email</b></p>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br />
  <br />

  <div class="field">
    <p><b>New password</b></p>
    <p><small>(leave blank if you don't want to change it)</small></p>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="field">
    <p><b>New password confirmation</b></p>
    <%= f.password_field :password_confirmation %>
  </div>

  <br />
  <br />

  <div class="field">
    <p><b>Current password</b></p>
    <%= f.password_field :current_password %>
  </div>

<br />

  <button type="submit" class="btn btn-primary">Update</button>
<% end %>

<%= link_to "Back", :back , :class => "btn"%>
